@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <footer>

        <div id="end">
            <div class="card">
                <p class="title3">CUSTOMER SERVICES</p>
                <ul>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="contact.html">Sitemap</a></li>
                    <li><a href="#">Gift Vouchers</a></li>
                </ul>
            </div>
            <div class="card">
                <p class="title3">INFORMATION</p>
                <ul>
                    <li><a href="about.html">About me</a></li>
                    <li><a href="#">Delivery information</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>
            <div class="card">
                <p class="title3">SOCIAL NETWORK</p>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </div>
            <div class="card">
                <p class="title3">PAYMENT METHODS</p>
                <ul>
                    <li>
                        <img src="/media/pay_2.webp" alt="" /><img src="/media/pay_3.webp" alt="" />
                    </li>
                    <li>
                        <img src="/media/pay_4.webp" alt="" /><img src="/media/pay_5.webp" alt="" />
                    </li>
                    <li>
                        <img src="/media/pay_7.webp" alt="" /><img src="/media/pay_8.webp" alt="" />
                    </li>
                </ul>
            </div>
        </div>
        <p id="cpr">Copyright © 2200005850_NguyenHuyHoang</p>
    </footer>
}
